<div class="container mt-3 text-center">
  <h1>你想對誰講幹話？</h1>
  <form action="/" method="POST">
    <div class="form-group row mt-3 justify-content-center">
      <div class="form-check col-3 mx-1 px-0 border rounded">
        <label for="engineer"><img
            src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5668/angry-developer.jpg"
            alt="engineer"></label>
        <input type="radio" name="target" id="engineer" value="engineer">
        <label class="form-check-label" for="engineer">工程師</label>
      </div>
      <div class="form-check col-3 mx-1 px-0 border rounded">
        <label for="designer"><img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5667/angry-designer.jpg" alt="designer"></label>
        <input type="radio" name="target" id="designer" value="designer">
        <label class="form-check-label" for="designer">設計師</label>
      </div>
      <div class="form-check col-3 mx-1 px-0 border rounded">
        <label for="entrepreneur"><img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5669/angry-founder.jpg" alt="entrepreneur"></label>
        <input type="radio" name="target" id="entrepreneur" value="entrepreneur">
        <label class="form-check-label" for="entrepreneur">創業家</label>
      </div>
      <button type="submit" class="btn btn-primary col-9 mt-3">產生幹話</button>
      <textarea name="dryTalkGenerator" id="dryTalkGenerator" class="form-control col-9 mt-3">{{#if dryTalk}}{{dryTalk}}{{/if}}</textarea>
    </div>
    
    
  </form>
</div>
{{#if option}}
<script>
  document.querySelector(`input[value = "{{option.target}}"]`).checked = true
</script>
{{/if}}